---
import BaseHead from '../BaseHead.astro';

interface Props {
    title?: string;
    description?: string;
    image?: string;
}

---
<html lang="ja">
    <BaseHead {...Astro.props} />
    <body>
        <slot />
    </body>
</html>